body {
    overflow-x: hidden;
  }
  
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  
  .navbar .nav-item.active {
    border-left: #444 3px solid;
  }
  
  .carousel-item {
    height: 450px;
  }
  
  .carousel-image-1 {
    background: url('../images/image5.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .carousel-image-2 {
    background: url('../images/image8.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('../images/image9.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #home-heading {
    position: relative;
    min-height: 250px;
    background: url('../images/lights.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
  }
  
  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  #video-play {
    position: relative;
    min-height: 200px;
    background: url('../img/media.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -300px;
    text-align: center;
    color: #fff;
  }
  
  #video-play a {
    color: #fff;
  }
  
  #page-header {
    height: 200px;
    background: url('../img/image1.jpg');
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
  }
  
  .about-img {
    margin-top: -50px;
  }
  
  #faq .card {
    border: #444;
  }
  
  #faq a {
    color: #fff;
    text-decoration: none;
  }
  
  #faq .card-body,
  #faq .card-header {
    background: #333;
  }
  
  #main-footer {
    background: #000;
    color: #fff;
  }

/* Facts Section
--------------------------------*/
#facts {
  background: url("../images/facts-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 0 0;
  position: relative;
}

#facts::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 9;
}

#facts .container {
  position: relative;
  z-index: 10;
}

#facts .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #18d26e;
}

#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #111;
}

#facts .facts-img {
  text-align: center;
  padding-top: 30px;
}

/* footer section new */
footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}

/* for pagination */
.pagination {
  margin-top: 10em;
}

.pagination a {
  text-decoration: none;
}

.pagination-number {
  padding: 0.5em 0.8em;
  border-radius: 2px;
  color: #fff;
  background-color: #6D85C7;
}

.pagination-number:hover,
.pagination-current {
  background-color: #3354AA;
}

.pagination-action {
  margin: 0 0.1em;
  display: inline-block;
  padding: 0.5em 0.5em;
  color: #B9B9B9;
  font-size: 1.3em;
}

.pagination-action:hover,
.pagination-previous,
.pagination-next {
  color: #3354AA;
}
/*  */