{% extends "post/base.html" %}
{% block content %}
<br>
<div class="card">
    <div class="card-header">
        <a class="article-title" href="#"> {{ object.title }}</a>
    </div>
    <div class="card-body">
        <h4><a  href="#">{{ object.author }}</a></h4>
        <small class="text-muted">{{ object.date_posted }}</small>
        <br>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      <blockquote class="blockquote mb-0">
        {% if object.title == 'Food' %}
        <p>Type of food:{{ object.type_food }}</p>
        <p>Food remains fresh for:{{object.food_fresh}} hours</p>
        {% endif %}
        <p> Pickup Location of {{ object.title }}:{{ object.pickup_location }}</p>
        <p>{{ object.title }} can serve:{{object.served_people}} number of people</p>
       
        {% if object.title == 'Clothes' %}
        <p>Age group of Clothes:{{ object.agegroupofclothes }}</p>
        {% endif %}
        <p>Contact Number:{{object.Phone}}</p>
        <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
      </blockquote>
    </div>
</div>
{% endblock content%}